{% load static %}

<html>
<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
<link rel="stylesheet" href="{% static "stylesheets/style.css.txt"%}" />
</head>
<body class="main-html-container">
<div class="kiss main-html-container" style="text-align:left;" id="firstSection">
<h1>ENTER YOUR DETAILS</h1>
<a href="/" ><button>Home</button><a/>
<br/>
<table border="1" >

<tr>
<th>Name</th>
<th>Father name</th>
<th>Gender</th>
<th>Actions</th>
</tr>

{% for i in deta %}

<tr>
<td style="padding:10px;">{{i.name}}</td>
<td style="padding:10px;">{{i.father_Name}}</td>
<td style="padding:10px;">{{i.gender}}</td>
<td style="padding:10px;">
<a href="/pay/update/{{i.id}}"><span>update</span>  &nbsp;
<a href="/pay/delete/{{i.id}}"><span>delete</span>
</td>
</tr>

{% endfor %}
</table>
</form>
</div>



<body/>
</html>
