name: Upload Website

on:
  push:
    branches:
    - master

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - uses: jakejarvis/s3-sync-action@master
      with:
        args: --acl public-read --follow-symlinks --delete --exclude '.git*/*'
      env:
        AWS_S3_BUCKET: ${{ secrets.name1 }}
        AWS_ACCESS_KEY_ID: ${{ secrets.id }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.key }}
        #AWS_REGION: 'ap-south-1'   # optional: defaults to us-east-1
        #SOURCE_DIR: 'public'      # optional: defaults to entire repository
